import init.iprj-common.rc

on init

    mkdir /mnt/media_rw/sdcard0 0700 media_rw media_rw
    mkdir /storage 0550 system sdcard_r
    mkdir /storage/sdcard0 0000 system system
	
    #External storage directories
    mkdir /mnt/media_rw/sdcard0 0700 media_rw media_rw

    mkdir /storage/sdcard0 0700 root root
    
	export EXTERNAL_STORAGE /storage/sdcard0
	
	# for backwards compatibility
 
    symlink /storage/sdcard0 /sdcard
    symlink /storage/sdcard0 /mnt/sdcard
    
	service fuse_sdcard0 /system/bin/sdcard -u 1023 -g 1023 -d /mnt/media_rw/sdcard0 /storage/sdcard0
    class late_start
    oneshot
